{%from "_renderfield.html" import renderfield %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
  </head>
  <body>
    <h1>The form is below!</h1>
    <form action="/" method="POST">
      <!-- to make sure form is coming from application  -->
      {{form.csrf_token}}
      <ul>
        {%for error in form.csrf_token.errors%}
          <li style="color:red;">{{error}}</li>
        {%endfor%}
      </ul>
      {{renderfield(form.username)}}
      {{form.password.label}}{{form.password}}
      <ul>
        {%for error in form.password.errors%}
          <li style="color:red;">{{error}}</li>
        {%endfor%}
      </ul>
      {{form.age.label}}{{form.age}}
      <ul>
        {%for error in form.age.errors%}
          <li style="color:red;">{{error}}</li>
        {%endfor%}
      </ul>
      {{form.true.label}}{{form.true}}
      {{form.email.label}}{{form.email}}
      <ul>
        {%for error in form.email.errors%}
          <li style="color:red;">{{error}}</li>
        {%endfor%}
      </ul>

      {{renderfield(form.firstname)}}
      {{renderfield(form.lastname)}}
      {{renderfield(form.home_phone)}}
      {{renderfield(form.mobile_phone)}}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
